{% extends "base.html" %}

{% block title %}Blacklist User{% endblock %}

{% block content %}
<h1>Add Blacklist</h1>

<p>This form will blacklist the listed user below. It'll process all entries for the user and blacklist the following:</p>
<ul>
<li>EVE API Keys</li>
<li>Characters</li>
<li>Email Addresses</li>
<li>Reddit Accounts</li>
</ul>

<form action="{% url hr.views.blacklist_user u.id %}" method="post">
<table>
<tr><th><label>User:</label></th><td>{{ u.username }}</td></tr> 
{{ form.as_table }}
</table>
{% csrf_token %}
<input type="submit" value="Blacklist" />
</form>
{% endblock %}
