{% extends "base.html" %}

{% block title %}Blacklist User{% endblock %}

{% block content %}
<script type="text/javascript">
<!--
function confirmPost()
{
var agree=confirm("Are you sure you want to blacklist {{ u.username }}?");
if (agree)
return true ;
else
return false ;
}
// -->
</script>

<p>This form will blacklist the listed user below. It'll process all entries for the user and blacklist the following:</p>
<ul>
<li>EVE API Keys</li>
<li>Characters</li>
<li>Email Addresses</li>
<li>Reddit Accounts</li>
</ul>

<form action="" method="post">
<table>
<tr><th><label>User:</label></th><td>{{ u.username }}</td></tr> 
{{ form.as_table }}
</table>
{% csrf_token %}
<input type="submit" value="Blacklist" onClick="return confirmPost()" />
</form>
{% endblock %}
