body
{
	margin: 20px;
	padding: 0;
	font: 80%/1.2 helvetica, arial, sans-serif;
	color: #444;
	background: #000;
}

#container
{
	margin: 0 auto;
	width: 800px;
	background:#fff;
}

#header
{
	background:#ccc;
	padding: 20px;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 800px;
	background:#333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color:#fff;
	text-decoration: none;
	border-right: 1px solid#fff;
}

#navigation li a:hover { background:#383; }

#content
{
	clear: left;
	padding: 20px;
}

#content h2
{
	color:#000;
	font-size: 160%;
	margin: 0 0 .5em;
}

#footer
{
	background:#ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
}

#content #messagelist
{
	width: 760px;
        border: 1px solid #efefef;
        background: #ffc;
        list-style-type: none;
	margin: 0px;
	padding: 0px 0px 5px;
}
#content #messagelist li
{
        margin: 0px;
        padding-left: 5px;
        padding-top: 2px;
}

table 
{text-align: center;
font-weight: normal;
font-size: 11px;
color: #fff;
background-color: #666;
border: 0px;
border-collapse: collapse;
border-spacing: 0px;}

table td 
{background-color: #CCC;
color: #000;
padding: 4px;
text-align: left;
border: 1px #fff solid;}

table th
{background-color: #333;
color: #fff;
padding: 4px;
text-align: left;
border-bottom: 2px #fff solid;
font-size: 12px;
font-weight: bold;}
