{% comment %}
  <!-- kate: space-indent on; indent-width 2; replace-tabs on; -->
{% endcomment %}
{% load mumble_extras %}
<div class="mumble" style="background-image: url( {{ MEDIA_URL }}/mumble/linie_v.png )">
  <img src="{{ MEDIA_URL }}/mumble/knoten_v.png" alt="" />
  {% if Channel.linked %}
    <img src="{{ MEDIA_URL }}/mumble/channel_linked.png" alt="linked channel" />
  {% else %}
    <img src="{{ MEDIA_URL }}/mumble/channel.png" alt="channel" />
  {% endif %}
  {% if Channel.server.netloc %}
    <a href="{{ Channel|chanurl:MumbleAccount }}" class="mumble" id="link_{{ Channel.id }}" title="{{ Channel.name }}">
      {{ Channel.name|trunc:30 }}
    </a>
  {% else %}
    <a class="mumble" id="link_{{ Channel.id }}" title="{{ Channel.name }}">
      {{ Channel.name|trunc:30 }}
    </a>
  {% endif %}
  {% for sub in Channel.subchans %}
    {% if sub.show %}
      {{ sub|chanview:MumbleAccount }}
    {% endif %}
  {% endfor %}
  {% for player in Channel.players %}{{ player|chanview }}{% endfor %}
</div>

