{% extends "index.html" %}
{% comment %}
  <!-- kate: space-indent on; indent-width 2; replace-tabs on; -->
{% endcomment %}
{% load i18n %}
{% load mumble_extras %}
{% block Headline %}
Configured Mumble Servers
{% endblock %}
{% block Content %}
<div class="rahmen">
  <ul>
  {% for mumble in MumbleObjects %}
    {% if mumble.booted %}
      <li><a href="{% url mumble.views.show mumble.id %}">{{ mumble.name }}</a></li>
    {% else %}
      <li>{{ mumble.name }} (offline)</li>
    {% endif %}
  {% empty %}
    {% trans "No server instances have been configured yet." %}
  {% endfor %}
  </ul>
</div>
{% endblock %}
