{% load i18n %}

{% block Content %}
<h2 class="profile">{% blocktrans with user|capfirst as username %}Profile of {{username}}{% endblocktrans %}</h2>

<table border=1>
<tr><td>Service</td><td>Server</td><td>Status</td><td>Login</td><td>Other</td></tr>

{% if mumbleacc %}
<tr><td>Mumble</td><td>mumble.dredd.it</td><td>Active</td><td>{{ mumbleacc.name }}</td><td><a href="{% url dreddit.views.delete_mumble %}">Delete</a></td></tr>
{% else %}
<tr><td>Mumble</td><td>mumble.dredd.it</td><td>Inactive</td><td>N/A</td>
{% if eveapi %}
<td> <a href="{% url dreddit.views.add_mumble %}">Create Mumble Login</a></td>
{% else %}
<td</td>
{% endif %}
</tr>
{% endif %}

{% if corpaccess %}
<tr><td>Jabber</td><td>jabber.dredd.it</td><td>Active</td><td>{{ user.username }}@dredd.it</td><td></td></tr>
{% else %}
<tr><td>Jabber</td><td>jabber.dredd.it</td><td>Inactive</td><td></td><td></td></tr>
{% endif %}

{% if corpaccess %}
<tr><td>Wiki</td><td>wiki.dredd.it</td><td>Active</td><td>{{ user.username }}</td><td></td></tr>
{% else %}
<tr><td>Wiki</td><td>wiki.dredd.it</td><td>Inactive</td><td></td><td></td></tr>
{% endif %}

{% if corpaccess %}
<tr><td>Forums</td><td>forum.dredd.it</td><td>Unkown</td><td>{{ user.username }}</td><td></td></tr>
{% else %}
<tr><td>Forums</td><td>forum.dredd.it</td><td>Unknown</td><td></td><td></td></tr>
{% endif %}
</table>


<div class="profile">
  <h4>EVE API Key</h4>
{% if eveapi %}
  <ul>
     <li>User ID: {{ eveapi.api_user_id }}</li>
     <li>Status: {{ apistatus }}</li>
     <li>Corp Access: {{ corpaccess }}</li>
     <li>Last API Update: {{ eveapi.api_last_updated }}</li>
  </ul>
  <a href="{% url dreddit.views.delete_eveapi %}">Delete EVE API Key</a>
{% else %}
  <a href="{% url dreddit.views.add_eveapi %}">Add EVE API key</a>
{% endif %}

</div>

<div class="profile">
  <h4>{% trans "Login Account" %}</h4>
  <ul>
    <li>{% trans "e-mail address" %}: {{ user.email }}</li>
    <li>{% trans "staff status" %}: {{ user.is_staff|yesno }}</li>
    <li>{% trans "date joined" %}: {{ user.date_joined|date }} {{ user.date_joined|time }}</li>
    <li>{% trans "last login" %}: {{ user.last_login|date }} {{ user.last_login|time }}</li>
    <li><a href="{% url django.contrib.auth.views.password_change %}">{% trans "Change password" %}</a></li>
    <li><a href="{% url django.contrib.auth.views.logout %}">{% trans "Log out" %}</a></li>
  </ul>
</div>
{% endblock %}

