{% extends "base.html" %}

{% block content %}

<div class="page-header">
<h1>Your Groups</h1>
</div>

<p>This is the list of your current groups, and groups you can request to be a member of.</p>

{% if group_list %}
{% regroup group_list by category as groups_by_category %}

{% for category in groups_by_category %}

{% if category.grouper %}
<p>
<h2>{{ category.grouper }}</h2>
</p>
{% endif %}

<table class="zebra-striped" id="groups">
  <thead>
    <tr><th>Group Name</th><th>Description</th><th>Status</th><th>Actions</th></tr>
  </thead>
  <tbody>
    {% for group in category.list %}
    <tr><td style="width: 20%">{{ group.group }}</td>
      <td>{{ group.description }}</td>
      <td style="width: 15%">{% if group.pending %}Request Pending{% else %}{% if group.status %}{{ group.status }}{% endif %}{% endif %}</td>
      <td style="width: 20%">{% ifequal group.status None %}{% if requestable %}<a href="{% url groups.views.create_request group.id %}">{% if group.moderated %}Request Membership{% else %}Join{% endif %}</a>{% endif %}{% endifequal %}
          {% if not group.fixed and group.status %}<a href="{% url groups.views.kick_member group.id request.user.id %}">Leave</a>&nbsp;{% endif %}
          {% if group.status == 'Admin' or request.user.is_superuser %}{% if not group.fixed %}<a href="{% url groups.views.admin_group group.id %}">Admin</a>{% endif %}{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endfor %}
{% else %}
<b>No groups are available.</b>
{% endif %}

<script src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
<script >
    $(function() {
        $("table#groups").tablesorter({ sortList: [[0,0]] });
    });
</script>

{% endblock %}
