{% extends "base.html" %}

{% block title %}External Service Account{% endblock %}

{% block content %}
{% if error %}
<div style="border: 1px solid #FF0000; background: #FF7D7D; width: 100%; text-align: center;">
<b>Error:</b> Your account has not been created. Either you already have a user on this service or a error has occured. If you think 
this is incorrect please raise a bug on the tracker.
</div>
{% else %}
<p>Your account on {{ acc.service }} has been created. Your login details are as follows:</p>

<table>
<tr><td>Service:</td><td>{{ acc.service.name }}</td></tr>
<tr><td>Service URL:</td><td><a href="{{ acc.service.url }}">{{ acc.service.url }}</a></td></tr>
<tr><td>Username:</td><td>{{ acc.service_uid }}</td></tr>
<tr><td>Password:</td><td>{{ acc.password }}</td></tr>
</table>

<p><a href="{% url sso.views.profile %}">Return to your profile page</a></p>
{% endif %}

{% endblock %}
