{% extends "base.html" %}

{% block title %}Add Service Account{% endblock %}

{% block content %}
<p>To add a service to your account, selec the service from the list below 
then provide select a username you wish to use create the account for<br/>
<br/>
For details on how to connect to each service, please consult the <a 
href="http://wiki.dredd.it">wiki</a></p>
<form action="/profile/add/service" method="post">
<table>
{{ form.as_table }}
</table>
<input type="submit" value="Create Account" />
</form>
<br/>
{% endblock %}
