{% extends "base.html" %}

{% block title %}External Service Account{% endblock %}

{% block content %}
{% if error %}
<div style="border: 1px solid #FF0000; background: #FF7D7D; width: 100%; text-align: center;">
<b>Error:</b> A error occured resetting your account. Please raise a issue with the Web Team
</div>
{% else %}
<p>Your account on {{ acc.service }} has been reset. Your login details are as follows:</p>

<table>
<tr><td>Username:</td><td>{{ acc.service_uid }}</td></tr>
<tr><td>Password:</td><td>{{ passwd }}</td></tr>
</table>

<p><a href="/profile">Return to your profile page</a></p>
{% endif %}

{% endblock %}
