{% extends "base.html" %}

{% block title %}Applications{% endblock %}

{% block content %}

<style type="text/css">
  #alt-application {
    background-color: #FFA545;
  }
</style>

<div class="page-header">
  <h1>All Applications</h1>
</div>

<form method="GET" action="{% url hr-admin %}">
<input type="text" name="q" placeholder="Search..."/>
</form>

{% if apps %}
<table>
<tr><th><a href="{% url hr-admin %}?o=id">Application ID</a></th>
    <th><a href="{% url hr-admin %}?o=character__name">Character</a></th>
    <th><a href="{% url hr-admin %}?o=corporation__name">Corporation</a></th>
    <th>Application Status</th>
    <th>Last Action Date</th>
    <th>Last Action User</th></tr>
{% for app in apps %}
<tr {% if app.alt_application %}id="alt-application"{% endif %}><td><a href="{% url hr-viewapplication app.id %}">{{ app.id }}</a></td>
    <td>{{ app.character }}</td>
    <td>{{ app.corporation }}</td>
    <td>{{ app.get_status_display }}</td>
    <td>{{ app.last_action.date }}</td>
    <td>{{ app.last_action.user }}</td>
</tr>
{% endfor %}
</table>
{% else %}
<p>No applications found.</p>
{% endif %}

{% endblock %}
