{% extends "base.html" %}

{% block title %}Applications{% endblock %}

{% block content %}

<h3>Search All Applications</h3>
<form method="GET" action="{% url hr.views.admin_applications %}">
<input type="text" name="q" />
<input type="submit" value="Search" />
</form>

{% if apps %}
<table>
<tr><th><a href="{% url hr.views.admin_applications %}?o=id">Application ID</a></th>
    <th><a href="{% url hr.views.admin_applications %}?o=character">Character</a></th>
    <th><a href="{% url hr.views.admin_applications %}?o=corporation">Corporation</a></th>
    <th>Application Status</th>
    <th>Last Action Date</th>
    <th>Last Action User</th></tr>
{% for app in apps %}
<tr {% if app.alt_application %}id="alt-application"{% endif %}><td><a href="{% url hr.views.view_application app.id %}">{{ app.id }}</a></td>
    <td>{{ app.character }}</td>
    <td>{{ app.corporation }}</td>
    <td>{{ app.get_status_display }}</td>
    <td>{{ app.last_action.date }}</td>
    <td>{{ app.last_action.user }}</td>
</tr>
{% endfor %}
</table>
{% else %}
<p>No applications found.</p>
{% endif %}

{% endblock %}
