{% extends "base.html" %}

{% load humanize %}
{% load naturaltimediff %}
{% load installed %}
{% load gargoyle_tags %}

{% block content %}

<div class="page-header">
<h1>{{ object.username }}'s Profile</h1>
</div>

<p>
<li><b>Username:</b> {{ object.username }}</li>
{% if object.get_profile.primary_character %}
<li><b>Primary Character:</b> <a href="{% url eveapi-character object.get_profile.primary_character.pk %}">{{ object.get_profile.primary_character }}</a></li>
{% endif %}
<li><b>Active:</b> {{ object.is_active }}</li>
<li><b>Email:</b> {{ object.email }}</li>
<li><b>Groups:</b> {{ object.groups.all|join:", " }}</li>
{% if "hr"|installed %}
<li><b>Blacklist Status: {% if blacklisted %}<font color='red'>BLACKLISTED</font> ({{ blacklist_items|length }} items){% else %}<font color='geen'>OK</font>{% endif %}</b></li>
{% endif %}
{% if object.ip_addresses.count %}
<li><a href="{% url sso-ipaddress %}?user={{ object.username }}">IP Address Lookup</a> ({{ object.ip_addresses.count }} associated addresses)</li>
{% endif %}
</p>

<p>
<a href="{% url sso-refreshaccess object.id %}" class="btn error">Update Access</a>
{% if "hr"|installed %}
{% if perms.hr.add_blacklist %}
<a href="{% url hr-blacklistuser object.id %}" class="btn error">Blacklist User</a>
{% endif %}
{% endif %}
{% if perms.sso.add_ssousernote %}
<a href="{% url sso-addusernote object %}" class="btn">Add Note</a>
{% endif %}
</p>

{% if object.notes.count %}
<h2>User Notes</h2>

<table class="zebra-striped">
  <thead>
    <tr><th width="600px">Note</th><th>Date</th><th>Added By</th></tr>
  </thead>
  <tbody>
    {% for note in object.notes.all %}
    <tr><td>{{ note.note|linebreaks }}</td><td>{{ note.date_created|date:"Y/m/d H:i:s" }}</td><td><a href="{% url sso-viewuser note.created_by %}">{{ note.created_by.profile.all.0.primary_character }}</a></td></tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}


{% if services %}
<section id="services">
  <h2>Service Accounts</h2>

  <table class="zebra-striped">
    <tr><th>Service</th><th>Username</th><th>Active</th></tr>
    {% for acc in services %}
    <tr><td>{{ acc.service }}</td>
      <td>{{ acc.service_uid }}</td>
      <td>{% if acc.active %}Yes{% else %}No{% endif %}</td>
    </tr>
    {% endfor %}
  </table>
</section>
{% endif %}

{% if object.application_set.all %}
<section id="applications">
  <h2>Applications</h2>

  <table class="zebra-striped">
    <tr><th>ID</th><th>Character</th><th>Applied To</th><th>Status</th></tr>
    {% for app in object.application_set.all %}
    <tr><td><a href="{% url hr-viewapplication app.id %}">{{ app.id }}</a></td>
      <td>{{ app.character }}</td>
      <td>{{ app.corporation }}</td>
      <td>{{ app.get_status_display }}</td></tr>
   {% endfor %}
  </table>
</section>
{% endif %}

{% if object.recommendation_set.all %}
<section id="recommendations">
  <h2>Recommendations</h2>

  <table class="zebra-striped">
    <thead>
      <tr><th>Recommended Application</th><th>Recommendation Character</th><th>Recommendation Date</th></tr>
    </thead>
    <tbody>
      {% for rec in object.recommendation_set.all %}
      <tr><td><a href="{% url hr-viewapplication rec.application.id %}">{{ rec.application.character.name }}</a></td>
        <td><a href="{% url eveapi-character rec.user_character.pk %}">{{ rec.user_character }}</a></td>
        <td>{{ rec.recommendation_date }}</td></tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endif %}

{% if perms.sso.can_view_users %}
{% if object.eveaccount_set.all %}
<section id="api">
  <h2>Eve API Keys</h2>

  <table>
    <thead>
      <tr><th>User ID</th><th>API Key</th><th>Description</th><th>Type</th><th>Active</th><th>Last Updated</th></tr>
    </thead>
    <tbody>
      {% for acc in object.eveaccount_set.all %}
      <tr><td>{{ acc.api_user_id }}</td>
        <td>{{ acc.api_key }}</td>
        <td>{{ acc.description }}</td>
        <td>{{ acc.get_api_keytype_display }}</td>
        <td>{{ acc.get_api_status_display }}</td>
        <td>{{ acc.api_last_updated|naturaltimediff }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endif %}
{% endif %}

{% if object.eveaccount_set.all %}
<table>
  <thead>
    <tr><th>Name</th><th>Corporation</th><th>Alliance</th><th>ISK</th><th>SP</th><th>Training</th></tr>
  </thead>
  <tbody>
    {% for acc in object.eveaccount_set.all %}
    {% if acc.characters.count %}
    <tr><th colspan="6">Account {{ acc.api_user_id }}</th></tr>
    {% for char in acc.characters.all %}
    <tr><td><a href="{% url eveapi-character char.pk %}">{{ char.name }}</a></td>
      <td><a href="{% url eveapi-corporation char.corporation.pk %}">{{ char.corporation }}</a></td>
      <td>{% if char.corporation.alliance %}<a href="{% url eveapi-alliance char.corporation.alliance.pk %}">{{ char.corporation.alliance }}</a>{% endif %}</td>
      <td style="text-align: right;">{{ char.balance|intcomma }} ISK</td>
      <td style="text-align: right;">{{ char.total_sp|intcomma }} SP</td>
      <td>{% if char.current_training %}{{ char.current_training.skill.name }} to Level {{ char.current_training.in_training }}{% endif %}</td>
    </tr>
    {% endfor %}
    {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if "reddit"|installed %}
{% ifswitch reddit %}
<section id="reddit">
  <h2>Reddit Accounts</h2>
  {% if object.redditaccount_set.all %}
  <table class="zebra-striped">
    <thead>
      <tr><th>Username</th><th>Created Date</th><th>Validated</th></tr>
    </thead>
    <tbody>
      {% for acc in object.redditaccount_set.all %}
      <tr><td><a href="http://reddit.com/user/{{ acc.username }}/">{{ acc.username }}</a></td>
        <td>{{ acc.date_created }}</td>
        <td>{% if acc.validated %}Yes{% else %}No{% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endif %}
{% endifswitch %}
{% endif %}

{% endblock %}
