{% extends "base.html" %}

{% block title %}HR{% endblock %}

{% block content %}
<H1>HR</H1>

<h3>Applications</h3>
<p><a href="{% url hr-userapplications %}">View your current open applications</a><br/>
<a href="{% url hr-addapplication %}">Create a application</a><br/></p>

{% if can_recommend %}
<h3>Recommendations</h3>
<p>
<a href="{% url hr-viewrecommendations %}">View your current open recommendations</a><br/>
<a href="{% url hr-addrecommendation %}">Add a recommendation</a><br/>
</p>
{% endif %}

{% if is_hr_staff %}
<h3>HR Admin</h3>
<p>
<a href="{% url hr-admin %}">View applications</a><br/>
</p>
{% endif %}

{% if perms.add_blacklist %}
<h3>Blacklist Management</h3>
<p>
  <ul>
    <li><a href="{% url hr-blacklist-list %}">View/Search Blacklist</a></li>
    <li><a href="{% url hr-blacklist-add %}">Add Blacklist Entry</a></li>
</p>
{% endif %}

{% endblock %}
