{% extends "base.html" %}

{% block content %}

<h2>{{ group.name }}</h2>

<h3>Members</h3>

{% if group.user_set.all %}
<table>
<tr><th>Member Username</th><th>Characters</th><th>Status</th><th>Actions</th></tr>
{% for user, chars, status in member_list %}
<tr><td>{{ user.username }}</td>
    <td>{{ chars }}</td>
    <td>{{ status }}</td>
    <td><a href="{% url groups.views.kick_member group.id user.id %}">Kick Member</a>
    {% if request.user.is_superuser %}&nbsp;<a href="{% url groups.views.promote_member group.id user.id %}">Toggle Admin</a>{% endif %}</td>
</tr>
{% endfor %}
</table>
{% else %}
<b>This group has no members</b>
{% endif %}

<h3>Membership Requests</h3>

{% if requests %}
<table>
<tr><th>Username</th><th>Reason</th><th>Status</th><th>Created Date</th><th>Actions</th></tr>
{% for req in requests %}
<tr><td>{{ req.user }}</td>
    <td>{{ req.reason }}</td>
    <td>{{ req.get_status_description }}</td>
    <td>{{ req.created_date }}</td>
    <td><a href="{% url groups.views.accept_request req.id %}">Accept</a>&nbsp;
        <a href="{% url groups.views.reject_request req.id %}">Reject</a></td>
</tr>
{% endfor %}
</table>
{% else %}
<b>This group has no outstanding requests</b>
{% endif %}


{% endblock %}
