{% extends "base.html" %}

{% block content %}

<h1>Groups List</h1>

<p>This is the list of your current groups, and groups you can request to be a member of.</p>

<table>
{% if group_list %}
<tr><th>Group Name</th><th>Description</th><th>Status</th><th>Actions</th></tr>
{% for id, group, description, status, requestable, fixed, pending in group_list %}
<tr><td>{{ group }}</td>
    <td>{{ description }}</td>
    <td>{% if pending %}Request Pending{% else %}{% if status %}{{ status }}{% endif %}{% endif %}</td>
    <td>{% ifequal status None %}{% if requestable %}<a href="{% url groups.views.create_request id %}">Request Membership</a>{% endif %}{% endifequal %}
        {% if not fixed and status %}<a href="{% url groups.views.kick_member id request.user.id %}">Leave</a>&nbsp;{% endif %}
        {% if status == 'Admin' or request.user.is_superuser %}{% if not fixed %}<a href="{% url groups.views.admin_group id %}">Admin</a>{% endif %}{% endif %}</td>
</tr>
{% endfor %}
</table>
{% else %}
<b>No groups are available.</b>
{% endif %}

{% endblock %}
