body
{
	margin: 20px;
	padding: 0;
	font: 80%/1.2 helvetica, arial, sans-serif;
	color: #444;
	background: #6D825D;
}

#container
{
	margin: 0 auto;
	width: 960px;
	background:#9FB190;
border-radius: 15px;
}

#header
{
        background: #6D825D url('/static/img/mmd-header.png');
        height: 180px;
	padding: 20px;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 100%;
        height: 45px;
	background:#5F6757;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 15px 15px;
	color:#fff;
	text-decoration: none;
	border-right: 2px solid #545b4d;
}

#navigation li a:hover { background:#486531; }

#content
{
	clear: left;
	padding: 20px;
}

#content h1
{
    font-size: 2em;
    color:#222;
    text-shadow: 0px 1px 3px #555;
}

#content h2
{
	color:#222;
	font-size: 1.5em;
	margin: 0 0 .5em;
        text-shadow: 0px 1px 3px #555;
}

#content a, #content a:visited, #content a:active
{
	color:#486531;
}

#content a.button
{
        background: none repeat scroll 0 0 #486531;
        /*set up the layout just right*/
        display: inline-block;
        padding: 5px 10px 6px;
        position: relative;
        /*style the cursor and text of the button*/
        color: #fff !important;
        text-decoration: none;
        font-weight: bold;
        line-height: 1;
        cursor: pointer;
        /*add rounded corners in mozilla and webkit*/
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        /*Add box shadows and a bottom border with rgba colors*/
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
        text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
        border-bottom: 1px solid rgba(0,0,0,0.25);

}


#footer
{
	background:#ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
}

#content #messagelist
{
	width: 760px;
        border: 1px solid #efefef;
        background: #ffc;
        list-style-type: none;
	margin: 0px;
	padding: 0px 0px 5px;
}
#content #messagelist li
{
        margin: 0px;
        padding-left: 5px;
        padding-top: 2px;
}

table 
{
	text-align: center;
	font-weight: normal;
	font-size: 11px;
	color: #fff;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 15px;
}

table td 
{
	color: #000;
	padding: 4px;
	text-align: left;
}

table tr { 
	background-color: #b6c9a6; 
}

table tr:nth-child(odd) {
	background-color: #c3d7b2; 
}

table tr:hover {
	background-color: #eed;
}

table tr#alt-application {
	background-color: #FFA545;
}

table th
{background-color: #5F6D53;
color: #fff;
padding: 4px;
text-align: left;
font-size: 12px;
font-weight: bold;}

table th a
{color: #fff !important;
}

table th a:visted
{
color: #fff !important;
}

.character_info > div { margin-bottom: 2em; }
.character_info .character_portrait, .character_info .character_corporation, .character_info .character_alliance { float: right; }
.character_info .character_corporation { clear: right; margin-left: 2em; }
.character_info .character_corporation span, .character_info .character_alliance span { font-weight: bold; display: block; text-align: center; }
.character_info .character_attributes ul { margin: .25em 2em; padding: 0; }
.character_info .character_skills table { width: 100%; }
.character_info .character_skills .intraining { background-color: #cc6600; }
.character_info .character_stats table { width: 300px; }
.character_info .character_attributes .stat { font-weight: bold; }
.character_skills th { cursor:pointer;cursor:hand; }
.toggle_off th { background-color: #000; }
.skill_controls { margin-bottom: .5em; }
.skill_controls a {
        background: none repeat scroll 0 0 #486531;
	/*set up the layout just right*/
	display: inline-block;
	padding: 5px 10px 6px;
	position: relative;
	/*style the cursor and text of the button*/
	color: #fff !important;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	cursor: pointer;
	/*add rounded corners in mozilla and webkit*/
        border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	/*Add box shadows and a bottom border with rgba colors*/
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);


}
