{% extends "base.html" %}

{% load humanize %}

{% block content %}

<h1>{{ character.name }}</h1>

<img src="http://img.eve.is/serv.asp?s=256&c={{ character.id }}"/>

<img src="http://www.evecorplogo.net/logo.php?id={{ character.corporation.id }}" width="128" height="128" />


<ul>
<li>Race: {{ character.get_race_display }}</li>
<li>Gender: {{ character.get_gender_display }}</li>
<li>Corporation: {{ character.corporation.name }}</li>
<li>Joined Corporation: {{ character.corporation_date }}</li>
<li>Alliance: {{ character.corporation.alliance.name }}</li>
<li>Security Status: {{ character.security_status }}</li>
<li>Director: {{ character.director }}</li>
</ul>

<table>
<tr><th>Stat</th><th>Value</th></tr>
<tr><td>Intelligence</td><td> {{ character.attrib_intelligence }}</td></tr>
<tr><td>Memory</td><td>{{ character.attrib_memory }}</td></tr>
<tr><td>Charisma</td><td>{{ character.attrib_charisma }}</td></tr>
<tr><td>Perception</td><td>{{ character.attrib_perception }}</td></tr>
<tr><td>Willpower</td><td>{{ character.attrib_willpower }}</td></tr>
</table>
<br/>

<h2>Skills</h2>

<table width="350px">
{% for g ,v in skills.items %}
<tr><th colspan=3>{{ g }}</th</tr>
{% for skill in v %}
<tr><td>{{ skill.skill.name }} </td><td>Level {{ skill.level }}</td><td>{{ skill.skillpoints|intcomma }} SP</td></tr>
{% endfor %}
{% endfor %}
<tr><th colspan=2>Total SP</th><th>{{ character.total_sp|intcomma }} SP</td></tr>
</table>

{% endblock %}
