{% extends "base.html" %}

{% load naturaltimediff %}

{% block title %}Your Profile{% endblock %}

{% block content %}

<h1>Your Profile</h1>

<p>
<b>Username:</b> {{ user.username }}<br/>
<b>Email:</b> {{ user.email }}<br/>
</p>

{% if eveaccounts %}
<h2>External Service Accounts</h2>
<p>This is a list of all your current external service accounts, to 
create a login for a service click the Add Service link</p>
{% if srvaccounts %}
<table>
<thead>
<tr><th>Service</th><th>Username</th><th>URL</th><th>Active</th><th>Actions</th></tr>
</thead>
<tbody>
{% for acc in srvaccounts %}
<tr><td>{{ acc.service }}</td>
    <td>{{ acc.service_uid }}</td>
    <td><a href="{{ acc.service.url }}">{{ acc.service.url }}</a></td>
    <td>{% if acc.active %}Yes{% else %}No{% endif %}</td>
    <td>
    {% if acc.active %}
    <a href="{% url sso.views.service_reset acc.id %}">Reset</a>&nbsp;/&nbsp;
    <a href="{% url sso.views.service_del acc.id %}">Delete</a>
    {% if acc.service.provide_login %}
    &nbsp;/&nbsp;<a href="{% url sso.views.service_login acc.id %}">Login</a>
    {% endif %}
    {% endif %}
    </td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

<p>
<a href="{% url sso.views.service_add %}">Add Service</a>
</p>

<br/>
{% endif %}

<h2>Eve API Keys</h2>
<p>Adding a Eve API key will allow you to access any services allowed for your 
corporation. Limited keys are accepted for service validation. API keys 
are stored for on-going authentication. As the assigned owner of a key you may 
remove them at any time, but this may affect any existing services you have 
setup.</p>
{% if eveaccounts %}
<table>
<thead>
<tr><th>User ID</th><th>API Key</th><th>Description</th><th>Active</th><th>Last Updated</th><th>Actions</th></tr>
</thead>
<tbody>
{% for acc in eveaccounts %}
<tr><td>{{ acc.api_user_id }}</td>
    <td>{{ acc.api_key }}</td>
    <td>{{ acc.description }}</td>
    <td>{{ acc.api_status_description }}</td>
    <td>{{ acc.api_last_updated|naturaltimediff }}</td>
    <td><a href="{% url sso.views.eveapi_refresh acc.api_user_id %}">Refresh</a>,&nbsp;
        <a href="{% url sso.views.eveapi_log acc.api_user_id %}">Logs</a>,&nbsp;
        <a href="{% url sso.views.eveapi_del acc.api_user_id %}">Delete</a></td>
</tr>
</tbody>
{% endfor %}
</table>
{% endif %}
<p>
<a href="{% url sso.views.eveapi_add %}">Add a Eve API key</a>
</p>

<br/>

<h2>Reddit Accounts</h2>
<p>This is a list of all your current linked Reddit accounts</p>
{% if redditaccounts %}
<p>To validate your Reddit account, login on Reddit then click the link next to the account, fill in some text in the message and click send.</p>
<table>
<thead>
<tr><th>Username</th><th>Created Date</th><th>Validated</th></tr>
</thead>
<tbody>
{% for acc in redditaccounts %}
<tr><td>{{ acc.username }}</td>
    <td>{{ acc.date_created }}</td>
    <td>{% if acc.validated %}Yes{% else %}No (<a href="http://www.reddit.com/message/compose/?to=DredditVerification&subject=Validation%3a%20{{user.username}}" target="_blank">Validate</a>){% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}
<p>
<a href="{% url sso.views.reddit_add %}">Add a Reddit account</a>
</p>

<p>If you encounter any errors during using this service, copy the massive 
error message into <a href="http://pastebin.com/">Pastebin</a> and give 
Matalok a good kicking on IRC/Jabber/Email or on the Forums.</p>
{% endblock %}
