{% extends "base.html" %}

{% if error %}
{% block title %}Service Account Error{% endblock %}
{% else %}
{% block title %}Service Account{% endblock %}
{% endif %}

{% block content %}
{% if error %}
<div style="border: 1px solid #FF0000; background: #FF7D7D; width: 100%; text-align: center;">
<b>Error:</b> Your account has not been created. Either you already have a user on this service or a error has occured. If you think 
this is incorrect please raise a bug on the tracker.
</div>
{% else %}
<p>Your account on {{ account.service }} has been created. Your login details are as follows:</p>

<table>
<tr><td>Username:</td><td>{{ account.service_uid }}</td></tr>
<tr><td>Password:</td><td>{{ account.password }}</td></tr>
</table>

<p><b>Warning:</b> You password is random, please either note it down or once logged into the service change it to something you 
will remember. Service passwords are not stored in the Auth system.</p>

<p><a href="/profile">Return to your profile page</a></p>
{% endif %}

{% endblock %}
