{% block content %}

<h1>{{user.username}}'s Profile</h1>

<b>Username:</b> {{ user.username }}<br/>
<b>Email:</b> {{ user.email }}<br/>

{% if is_admin %}
<h2>Service Accounts</h2>
{% if services %}
<table border=1>
<tr><th>Service</th><th>Username</th><th>Password</th><th>Active</th></tr>
{% for acc in services %}
<tr><td>{{ acc.service }}</td>
    <td>{{ acc.username }}</td>
    <td>******</td>
    <td>{{ acc.active }}</td>
</tr>
{% endfor %}
</table>
{% endif %}

<h2>Eve API Keys</h2>
{% if eveaccounts %}
<table border=1>
<tr><th>User ID</th><th>API Key</th><th>Description</th><th>Active</th></tr>
{% for acc in eveaccounts %}
<tr><td>{{ acc.api_user_id }}</td>
    <td>{{ acc.api_key }}</td>
    <td>{{ acc.description }}</td>
    <td>{{ acc.api_status }}</td>
</tr>
{% endfor %}
</table>
{% endif %}
<br/>
{% if characters %}
<table border=1>
<tr><th>Character Name</th><th>Corp</th></tr>
{% for char in characters %}
<tr><td>{{ char.name }}</td>
    <td>{{ char.corp }}</td>
</tr>
{% endfor %}
</table>
{% endif %}


<h2>Reddit Accounts</h2>
{% if reddits %}
<table border=1>
<tr><th>Username</th><th>Created Date</th></tr>
{% for acc in reddits %}
<tr><td>{{ acc.username }}</td>
    <td>{{ acc.date_created }}</td>
</tr>
{% endfor %}
</table>
{% endif %}
{% endif %}

{% endblock %}
