{% extends "base.html" %}
{% load humanize %}
{% block content %}

<h1>Character List</h1>

{% if characters %}

{% regroup characters by account as acc_list %}

<table>
<tr><th>Character Name</th><th>Corporation</th><th>Alliance</th><th>Skillpoints</th><th>Training</th></tr>
{% for acc in acc_list %}
<tr><th colspan=5>Account {{ acc.grouper }} {% if acc.grouper.training == 0 %}<font color="#F87217">(No Character Training)</font>{% endif %}</th></tr>
{% for char in acc.list %}
<tr><td><a href="{% url eveapi-character char.id %}">{{ char.name }}</a></td>
    <td><a href="{% url eveapi-corporation char.corporation.id %}">{{ char.corporation }}</a></td>
    <td>{% if char.corporation.alliance %}<a href="{% url eveapi-alliance char.corporation.alliance.id %}">{{ char.corporation.alliance }}</a>{% endif %}</td>
    <td style="text-align: right;">{{ char.total_sp|intcomma }} SP</td>
    <td>{% if char.current_training %}{{ char.current_training.skill.name }} to Level {{ char.current_training.in_training }}{% endif %}</td> 
</tr>
{% endfor %}
{% endfor %}
</table>
{% endif %}

{% endblock %}
