{% extends "base.html" %}

{% load humanize %}
{% load naturaltimediff %}
{% load pagination_tags %}

{% block content %}

<div class="corporation_info">
	<h1>{{ corporation.name }}</h1>

        <ul>
        <li><b>Member Count:</b> {{ corporation.member_count }}</li>
        <li><b>Known Members:</b> {{ corporation.eveplayercharacter_set.count }}</li>
        {% if view_members %}
        <li><b>Members with API Keys:</b> {{ corporation.api_keys }}</li>
        <li><b>API Coverage:</b> {{ corporation.api_key_coverage|floatformat:2 }}%</li>
        {% endif %}
        </ul>

        {% if view_members %}
        <table>
        <tr><th>Name</th><th>Join Date</th><th>API Key?</th></tr>
        {% autopaginate members 10 %}
        {% for char in members %}
        <tr><td><a href="{% url eveapi-character char.id %}">{{ char.name }}</a></td><td>{{ char.corporation_date }}</td><td>{% if char.eveaccount_set.count %}Yes{% else %}<span style="color: red;">No</span>{% endif %}</td></tr>
        {% endfor %}
        </table>
        {% paginate %}
        {% endif %}

</div>

{% endblock %}
