{% extends "base.html" %}

{% load humanize %}
{% load naturaltimediff %}

{% block content %}

<div class="page-header">
  <h1>{{ corporation.name }}</h1>
</div>

<p>
<ul>
  {% if corporation.alliance %}
  <li><b>Alliance:</b> <a href="{% url eveapi-alliance corporation.alliance.pk %}">{{ corporation.alliance.name }}</a>
  {% endif %}
  <li><b>Member Count:</b> {{ corporation.member_count }}</li>
  <li><b>Known Members:</b> {{ corporation.eveplayercharacter_set.count }}</li>
  {% if view_members %}
  <li><b>Full Director API Available: {% if corporation.director_api_keys %}<span class="label success">Yes</span>{% else %}<span class="label important">No</span>{% endif %}</b></li>
  <li><b>Members with API Keys:</b> {{ corporation.api_keys }}</li>
  <li><b>Members with Active API Keys:</b> {{ corporation.active_api_keys }}</li>
  <li><b>API Coverage:</b> {{ corporation.api_key_coverage|floatformat:2 }}%</li>
  {% endif %}
</ul>
</p>

{% if request.user.is_superuser %}
<p>
  <a href="{% url eveapi-corporation-refresh corporation.id %}" title="Forces a access update for all users in this corporation" class="btn error">Mass Update Access</a>
<p>
{% endif %}

{% if view_members %}
<table class="zebra-striped" id="members">
  <thead>
    <tr><th>Name</th><th>Skillpoints</th><th>Join Date</th><th>Director?</th><th>Roles?</th><th>API Key?</th><th>Key Active?</th></tr>
  </thead>
  <tbody>
    {% for char in members %}
    <tr><td><a href="{% url eveapi-character char.id %}">{{ char.name }}</a></td><td>{% if char.total_sp %}{{ char.total_sp|intcomma }} SP{% endif %}</td><td>{{ char.corporation_date }}</td><td>{% if char.director %}Yes{% endif %}</td><td>{% if char.eveaccount_set.count %}{% if char.roles.count %}Yes{% else %}No{% endif %}{% endif %}<td>{% if char.eveaccount_set.count %}Yes{% else %}<span style="color: red;">No</span>{% endif %}</td><td>{% if char.active_key %}Yes{% else %}<span style="color: red;">No</span>{% endif %}</td></tr>
    {% endfor %}
  </tbody>
</table>

{% if is_paginated %}
<div class="pagination">
  <ul>
    <li class="prev{% if not page_obj.has_previous %} disabled{% endif %}"><a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}">Previous</a></li>
    {% for i in page_obj.page_range %}
      {% if not i %}
        <li><a href="#">...</a></li>
      {% else %}
        <li{% if i == page_obj.number %} class="active"{% endif %}><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    <li class="next{% if not page_obj.has_next %} disabled{% endif %}"><a href="{% if page_obj.has_next %}?page={{page_obj.next_page_number }}{% endif %}">Next</a>
  </ul>
</div>
{% endif %}


<p><a href="{% url eveapi-corporation-members-csv corporation.id %}" class="btn" title="Exports the membership list of this corporation to a CSV file.">Export as CSV</a></p>
{% endif %}

</div>

{% endblock %}
