{% extends "base.html" %}

{% block title %}Update EVE API Key{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Update EVE API Key</h1>
</div>

<p>Please update your API key as provided on the <a href="http://eve-online.com/api">EVE Online API page</a> and a optional description.</p>

<form action="{% url eveapi-update acc.api_user_id %}" method="post">
<formset>

  {% include "eve_api/formfield.html" with field=form.api_user_id %}
  {% include "eve_api/formfield.html" with field=form.api_key class="xxlarge" %}
  {% include "eve_api/formfield.html" with field=form.description class="xxlarge" %}

  {% csrf_token %}
  <input type="submit" value="Add API Key" class="btn primary"/>
</formset>
</form>

{% endblock %}
