{% extends "base.html" %}

{% block title %}Reject Application{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Reject Application</h1>
</div>

<p>Fill in the rejection reason below, please note, this will be sent out to the user.</p>
<form action="{% url hr-rejectapplication application.id %}" method="post">

<fieldset>
  {% include "formtools/formerror.html" %}
  {% include "formtools/formfield.html" with field=form.text class="xxlarge" %}
  {% include "formtools/formfield.html" with field=form.template %}
  {% csrf_token %}
  <input type="submit" value="Reject" class="btn error"/>
</fieldset>


</form>
{% endblock %}
