{% extends "base.html" %}

{% block title %}Change Services Password{% endblock %}

{% block content %}

<div class="page-header">
  <h1>Change Services Password</h1>
</div>

<p>This service will reset your password for all External Auth API Services. If you wish to continue please enter a new
password below.</p>

<form action="{% url sso.views.set_apipasswd %}" method="post">
<formset>
  {% include "formtools/formfield.html" with field=form.password %}
  {% csrf_token %}
  <input type="submit" value="Reset Account" class="btn primary" />
</formset>
</form>

{% endblock %}
