{% extends "base.html" %}

{% block title %}Change Services Password{% endblock %}

{% block content %}

<div class="page-header">
  <h1>Change Services Password</h1>
</div>

<p>Your Services Password allows you to login to various TEST services and other third party services (such as the Betting Emporium). It is highly recommend that you setup a password as soon as you create your Auth account.</p> 

<p>Please use a different password from your normal auth password, as this is inherently less secure due to the multiple applications using it.</p>

<form action="{% url sso-apipassword %}" method="post">
<fieldset>
  {% include "formtools/formerror.html" %}
  {% include "formtools/formfield.html" with field=form.password %}
  {% include "formtools/formfield.html" with field=form.password2 %}
  {% csrf_token %}
  <input type="submit" value="Change Password" class="btn primary" />
</fieldset>
</form>

{% endblock %}
