{% extends "base.html" %}

{% block title %}Change your Primay Character{% endblock %}

{% block content %}
<h1>Change Your Primary Character</h1>

<p>Your primary character is used across auth services to show as your display name and corporation. Please set this to which character you consider your "main".</p>

<form action="" method="post">
<fieldset>
  {% include "formtools/formerror.html" %}
  {% include "formtools/formfield.html" with field=form.character %}
  {% csrf_token %}
  <input type="submit" value="Change" class="btn primary" />
</fieldset>
</form>

{% endblock %}
