<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>404</title>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen">
</head>
<body>
<div id="container">
	<div id="header">
		<h1>
			Dreddit Auth Gateway - 404
		</h1>
	</div>
	<div id="navigation">
		<ul>
			<li><a href="/">Home</a></li>
                        {% if request.user %}
			<li><a href="/profile">Profile</a></li>
                        <li><a href="/logout">Logout</a></li>
                        {% else %}
                        <li><a href="/login">Login</a></li>
                        {% endif %}
		</ul>
	</div>
	<div id="content">
           <h1>404 - Derp not found</h1>
	</div>
	<div id="footer">
		&nbsp;
	</div>
</div>
</body>
</html>

