<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title></title>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen">
    {% block HeadTag %}{% endblock %}
</head>
<body>
<div id="container">
	<div id="header">
		<h1>
			Dreddit Auth Gateway - {% block title %}{% endblock %}
		</h1>
	</div>
	<div id="navigation">
		<ul>
			<li><a href="/">Home</a></li>
                        {% if request.user %}
			<li><a href="/profile">Profile</a></li>
                        {% if request.user.is_staff %}
                        <li><a href="/users">Lookup User</a></li>
                        <li><a href="/admin">Admin</a></li>
                        {% endif %}
                        <li><a href="/logout">Logout</a></li>
                        {% else %}
                        <li><a href="/login">Login</a></li>
                        {% endif %}
		</ul>
	</div>
	<div id="content">
           {% block content %}{% endblock %}
	</div>
	<div id="footer">
		&nbsp;
	</div>
</div>
</body>
</html>


