{% extends "registration/registration_base.html" %}

{% block title %}Register for an account{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Registration</h1>
</div>

<p>Please complete this form to register for a new Auth account, please be aware that you are required to confirm your email account so please use a valid address.</p>

<h2>Problematic Providers</h2>
<p>In addition, some providers maybe blocked form auth due to their draconian spam detection routines, which has flagged this server numerous times for no reason. These include AT&T services, Cox, and a few other mainland US ISPs. If you have a Google Mail account please consider using that instead of your ISP email account.</p>

<form method='post' action=''>
  <fieldset>
    {% include "formtools/formerror.html" %}
    {% include "formtools/formfield.html" with field=form.username %}
    {% include "formtools/formfield.html" with field=form.email %}
    {% include "formtools/formfield.html" with field=form.password1 %}
    {% include "formtools/formfield.html" with field=form.password2 %}
    {% csrf_token %}
    <input type="submit" value="Send activation email" class="btn primary"/>
  </fieldset>
</form>
{% endblock %}
