{% extends "base.html" %}

{% block title %}Add Recommendation{% endblock %}

{% block content %}

<div class="page-header">
  <h1>Add Recommendation<h1>
</div>

<p>Select a character you wish to recommend from, then select your friend's current application.

The person you are recommending needs to have created their application before you can add a recommendation.</p>

<form action="{% url hr-addrecommendation %}" method="post">
<fieldset>
  {% include "formtools/formerror.html" %}
  {% include "formtools/formfield.html" with field=form.character %}
  {% include "formtools/formfield.html" with field=form.application %}
  {% csrf_token %}
  <input type="submit" value="Add Recommendation" class="btn primary"/>
</fieldset>
</form>
{% endblock %}
