{% extends "base.html" %}

{% block title %}Applications{% endblock %}

{% block content %}
<p>This list shows all current applications open for review.</p>
{% if apps %}
<table>
<tr><th>Application ID</th><th>Character</th><th>Corporation</th><th>Application Status</th></tr>
{% for app in apps %}
<tr><td><a href="/hr/applications/{{ app.id }}/">{{ app.id }}</a></td>
    <td>{{ app.character }}</td>
    <td>{{ app.corporation }}</td>
    <td>{{ app.status_description }}</td>
</tr>
{% endfor %}
</table>
{% else %}
<p>No current open applications</p>
{% endif %}

{% endblock %}
