{% extends "base.html" %}

{% block content %}

<h1>{{user.username}}'s Profile</h1>

<b>Username:</b> {{ user.username }}<br/>
<b>Email:</b> {{ user.email }}<br/>

{% if is_admin %}
<br/>
<h2>Service Accounts</h2>
{% if services %}
<table>
<tr><th>Service</th><th>Username</th><th>Active</th></tr>
{% for acc in services %}
<tr><td>{{ acc.service }}</td>
    <td>{{ acc.service_uid }}</td>
    <td>{% if acc.active %}Yes{% else %}No{% endif %}</td>
</tr>
{% endfor %}
</table>
{% endif %}

<br/>
{% if user.application_set.all %}
<h2>Applications</h2>
<table>
<tr><th>ID</th><th>Character</th><th>Applied To</th><th>Status</th></tr>
{% for app in user.application_set.all %}
<tr><td><a href="{% url hr.views.view_application app.id %}">{{ app.id }}</a></td>
    <td>{{ app.character }}</td>
    <td>{{ app.corporation }}</td>
    <td>{{ app.get_status_display }}</td></tr>
{% endfor %}
</table>
{% endif %}

<br/>
<h2>Eve API Keys</h2>
{% if eveaccounts %}
<table>
<tr><th>User ID</th><th>API Key</th><th>Description</th><th>Active</th></tr>
{% for acc in eveaccounts %}
<tr><td>{{ acc.api_user_id }}</td>
    <td>{{ acc.api_key }}</td>
    <td>{{ acc.description }}</td>
    <td>{{ acc.api_status_description }}</td>
</tr>
{% endfor %}
</table>
{% endif %}
<br/>
{% if characters %}
<table>
<tr><th>Character Name</th><th>Corp</th></tr>
{% for char in characters %}
<tr><td><a href="{% url sso.views.characters char.id %}">{{ char.name }}</a></td>
    <td>{{ char.corp }}</td>
</tr>
{% endfor %}
</table>
{% endif %}

<br/>
<h2>Reddit Accounts</h2>
{% if reddits %}
<table>
<thead>
<tr><th>Username</th><th>Created Date</th><th>Validated</th></tr>
</thead>
<tbody>
{% for acc in reddits %}
<tr><td><a href="http://reddit.com/user/{{ acc.username }}/">{{ acc.username }}</a></td>
    <td>{{ acc.date_created }}</td>
    <td>{% if acc.validated %}Yes{% else %}No{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}
{% endif %}

{% endblock %}
