<script type="text/javascript" src="https://jira.pleaseignore.com/s/en_GB-fhnm74/773/3/1.2.2/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?collectorId=9f2994c4"></script>
<img src="/static/img/ganked.jpg">
<p>Oops, it seems the server got ganked, CONCORD have been informed.</p>

{% if request.sentry.id %}
<p>Be helpful, drop a message to the TEST sysadmin guys with this ID: <strong>{{ request.sentry.id }}</strong></p>
{% endif %}
