{% load installed %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>TEST Auth</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" media="screen">
    {% block HeadTag %}{% endblock %}
</head>
<body>
<div id="container">
	<div id="header">
		<!--<h1>TEST Auth - {% block title %}{% endblock %}</h1>-->
	</div>
	<div id="navigation">
		<ul>
            {% if user %}
	           <li><a href="{% url sso.views.profile %}">Profile</a></li>
                {% if "groups"|installed %}
                    <li><a href="{% url groups.views.group_list %}">Groups</a></li>
                {% endif %}
                {% if "api"|installed %}
                    <li><a href="{% url oauth-list-tokens %}">Application Access</a></li>
                {% endif %}
                {% if "hr"|installed %}
                    <li><a href="{% url hr.views.index %}">HR</a></li>
                {% endif %}
                    <li><a href="{% url eve_api.views.eveapi_character %}">Characters</a></li>
                {% if perms.sso.can_search_users %}
                    <li><a href="{% url sso.views.user_lookup %}">Lookup User</a></li>
                {% endif %}
                {% if request.user.is_staff %}
                    <li><a href="/admin/">Admin</a></li>
                {% endif %}
                    <li><a href="{% url django.contrib.auth.views.logout %}">Logout</a></li>
            {% else %}
                    <li><a href="{% url django.contrib.auth.views.login %}">Login</a></li>
            {% endif %}
		</ul>
	</div>
	<div id="content">
           {% if messages %}
           <ul id="messagelist">
           {% for message in messages %}
              <li>{{ message }}</li>
           {% endfor %}
           </ul>
           {% endif %}
           {% block content %}{% endblock %}
	</div>
</div>
</body>
</html>


