{% extends "base.html" %}

{% block title %}HR{% endblock %}

{% block content %}
<h3>Applications</h3>
<p><a href="{% url hr.views.view_applications %}">View your current open applications</a><br/>
<a href="{% url hr.views.add_application %}">Create a application</a><br/></p>
<h3>Recommendations</h3>
<p>
<a href="{% url hr.views.view_recommendations %}">View your current open recommendations</a><br/>
<a href="{% url hr.views.add_recommendation %}">Add a recommendation</a><br/>
</p>

{% if hrstaff %}
<h3>HR Admin</h3>
<p>
<a href="{% url hr.views.admin_applications %}">View applications</a><br/>
</p>
{% endif %}

{% endblock %}
